*, *::before, *::after{
    box-sizing: border-box;
}

:root {
    --background-color: rgb(0,0,0);
    --password-color: rgb(255,255,255);
}

body {
    background-color: var(--background-color);
    font-family: 'Overpass Mono', monospace;
    display: flex;
    justify-content: center;
}

.alphabet {

}

.board {

}

.main {
    width: 900px;
    margin-top: 60px;
}

.password {
    text-align: center;
    color: var(--password-color);
}