*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  background-color: black;
  font-family: 'Overpass Mono', monospace;
  display: flex;
  justify-content: center;
  color: white; }

.alphabet {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column: 2;
  grid-row: 2; }
  .alphabet__letter {
    margin: 5px;
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
    border: solid 3px rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    cursor: pointer; }
    .alphabet__letter--correct, .alphabet__letter--correct:hover {
      color: #00be00;
      border-color: #00be00;
      background-color: #003200;
      cursor: default; }
    .alphabet__letter--incorrect, .alphabet__letter--incorrect:hover {
      color: #be0000;
      border-color: #be0000;
      background-color: #320000;
      cursor: default; }
  .alphabet__letter:hover {
    color: white;
    border-color: white; }

.footer {
  display: flex;
  justify-content: center;
  grid-column: 1 / 3; }
  .footer__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none; }
  .footer__link:hover {
    color: white; }

.hide {
  display: none; }

.info {
  text-align: center;
  grid-column: 2;
  grid-row: 2; }

.main {
  width: 900px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.password {
  text-align: center;
  color: white;
  grid-column: 1 / 3; }
